@charset "utf-8";
/*!
 *
 * WebRTC Lab
 * @author dodortus (dodortus@gmail.com / codejs.co.kr)
 *
 */
 
 #enter-wrap {
	margin : 100px;
 }
input[type="text"] {
  padding: 6px 10px;
  width: 120px;
  height: 30px;
  border: solid 1px #bbb;
  font-size: 1.3em;
}

.wrap {
  margin-top: 0;
  position: relative;
  font-size: 1.2em;
  text-align: center;
}

.wrap p {
  font-size: 1.25em;
}

.wrap button {
  margin-top: 0;
  min-width: 80px;
  vertical-align: top;
}

.room-info {
  vertical-align: top;
}


/********************************************
  Below room style
*********************************************/
video {
   margin: 0 0 0 0;
  width: 100%;
  z-index: -1;
  background: #222;
  border: solid 1px #fff;
 
}

video.effect {

}

#video-wrap {
  display: none;
  position: relative;
  margin: 0;
  min-height: 657px;
  
  
}

#video-wrap .buttons {
  position: absolute;
  top: 10px;
  right :10px;
  
}

#local {
  position: absolute;
  
  
  width: 340px;
  
  border: solid 1px #fff;
}

#local-video { 
  position: absolute;
  top: 0;
  left: 0;
  
}

#share-wrap { 
  display: none;
  margin: 0;
}

.room #enter-wrap,
.connected #create-wrap,
.connected #wait-wrap {
  display: none;
}
.connected #local-video { 
  
  left: 2px !important;
  width: 300px !important;
  border: solid 1px #fff;
  z-index: 2;
}

.room #share-wrap {
  display: block;
}

.room #wait-wrap {
  display: none;
}

.room #video-wrap {
  display: block;
}
.room #overflow-hidden {
   display: block;
}
.room #content {
  
}

        .overflow-hidden {
            overflow-x: hidden;
            overflow-y: hidden;
        }
        #div-chat-display-parent {
            height: 400px;
            overflow-x: hidden;
            overflow-y: hidden;
            margin : 0px;
        }
        #div-chat-display {
            height: 400px;
            overflow-x: hidden;
            overflow-y: scroll;
            margin : 0px -20px 0px 0px ;
        }

        .alert {
            display: inline-block;
            margin : 5px;
        }
        .bg-warning  {
            display: inline-block;
            margin: 2px;
            padding: 2px 10px 2px 10px;
        }
        .bg-success {
            display: inline-block;
            margin: 2px;
            padding: 2px 10px 2px 10px;
        }
        .bg-info {
            display: inline-block;
            margin : 2px;
            padding: 2px 10px 2px 10px;
        }
        .text-center {
            text-align:center;
        }
        .content-left-line {
            border-left : 1px dashed #eeeeee;
            height: 400px;
        }
        .content-under-line {
            border-bottom : 1px dashed #eeeeee;
        }